@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --issue8-color: #f6e0a4;
    --issue7-color: #ff608c;
    --issue6-color: #fff;
    --issue5-color: #00c1b5;
    --issue4-color: #ff6519;
    --issue3-color: #ffbe00;
    --issue2-color: #1d3fbb;
    --issue1-color: #E30512;
    --base: #f6e0a4;
    --anchor: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    /* overflow: scroll; */
    /* scrollbar-width: none; */
    /* scroll-behavior: smooth; */
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--base);
    transition: all .9s;
}

.scroller {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100vh;
}

.backstage-logo {
    position: fixed;
    display: inline-block;
    width: 16.25rem;
    left: 0.9375rem;
    top: 1.25rem;
}

.email-link {
    position: fixed;
    font-size: 1.125rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    right: 0.9375rem;
    top: 1.375rem;
}

.email-link:hover {
    text-decoration: underline solid #000;
}

.email-link-mobile {
    display: none;
}

.issue-section {
    /* scroll-snap-align: start; */
    /* width: 100%;
    height: 100vh; */
}

.container {
    display: flex;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cover-image {
    max-width: 26.25rem;
    height: auto;
}

.issue-number {
    font-size: 1.125rem;
    font-weight: 500;
}

.purchase-link {
    font-size: 0.9375rem;
    margin-top: 1.25rem;
    text-align: center;
}

.purchase-link > a {
    text-decoration: none;
    color: var(--anchor);
}

.purchase-link > a:hover {
    text-decoration: underline solid var(--anchor);
}

.purchase-link > a + * {
    margin-top: 0.0625rem;
}

.purchase-link > span {
    display: inline-block;
}

.select-store-link {
    font-size: 0.9375rem;
    margin-top: 1.25rem;
}

.select-store-link > a {
    text-decoration: none;
    color: var(--anchor);
}

.select-store-link > a:hover {
    text-decoration: underline solid var(--anchor);
}

.footer-section-left {
    position: fixed;
    left: 1.2rem;
    bottom: 1rem;
    width: 19rem;
}

.footer-section-right {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.description {
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-weight: 500;
}

.privacy-policy {
    display: inline-block;
    color: #000;
    margin-top: 1.75rem;
    text-decoration: underline solid #000;
}

.privacy-policy:hover {
    text-decoration: none;
}

.copyright {
    display: block;
    margin-top: .2rem;
    font-size: 0.75rem;
    font-weight: 300;
}

.copyright > a {
    color: #000;
    text-decoration: underline solid #000;
}

.copyright > a:hover {
    text-decoration: none;
}

li {
    list-style: none;
    line-height: 1.73rem;
}

li > a {
    text-decoration: none;
    font-size: 1.125rem;
    color: #000;
}

li > a:hover {
    text-decoration: underline solid #000;
}

@media (max-width: 62rem) {
    .scroller {
        scroll-snap-type: none;
        height: auto;
    }

    ul {
        display: none;
    }

    .email-link {
        display: none;
    }

    .email-link-mobile {
        display: block;
        position: absolute;
        right: 1rem;
        bottom: .3rem;
        font-size: 1.125rem;
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }

    .email-link-mobile:hover {
        text-decoration: underline;
    }
    .footer-section-left {
        position: relative;
    }

    .footer-section-right {
        position: relative;
        right: auto;
    }
}

